{% include 'site/header.html' %}
 <div class="row">
   <div class="col-md-4">
<div class="card">
  <div class="card-body">
<h2>Sitio web realizado con Python
</h2>
<p>Se utiliza el modelo MVC en su estructura de datos, también, un framework frontend conocido como
<a href="https://getbootstrap.com/">bootstrap<a></bootstrap></p>
<ul>
  <li>Las gráficas se realizaron con datos de la ENOE del año x al x, se puede actualizar los periodos según se tenga disponibilidad de los datos.
</li>

  <li>Las gráficas de muestra CRUD son interactivas y demuestran la actualización, edición y visualización de gráficas en tiempo real</li>
 <ul>
    </ul>

</ul>
  </div>
</div>
     </div>
   <div class="col-md-8">


      </div >
 </row>

{% include 'site/footer.html' %}